<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.fivespecsdev.schoolapp" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="de.fivespecsdev.schoolapp.start"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:launchMode="singleTask"
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:screenOrientation="landscape">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter >
                <action android:name="android.settings.SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter >
                <action android:name="android.settings.WIRELESS_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.settings.WIFI_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.fivespecsdev.schoolapp.Deutsch"
            android:label="@string/title_activity_deutsch"
            android:theme="@style/AppTheme"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="de.fivespecsdev.schoolapp.AdminPasswordCheck"
            android:label="@string/title_activity_admin_password_check"
            android:theme="@style/AppTheme"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="de.fivespecsdev.schoolapp.AdminAccess"
            android:label="@string/title_activity_admin_access"
            android:theme="@style/AppTheme"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="de.fivespecsdev.schoolapp.Mathe"
            android:label="@string/title_activity_mathe"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="de.fivespecsdev.schoolapp.English"
            android:label="@string/title_activity_english"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="de.fivespecsdev.schoolapp.Biologie"
            android:label="@string/title_activity_biologie"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="de.fivespecsdev.schoolapp.Chemie"
            android:label="@string/title_activity_chemie"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="de.fivespecsdev.schoolapp.Geographie"
            android:label="@string/title_activity_geographie"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="de.fivespecsdev.schoolapp.Physik"
            android:label="@string/title_activity_physik"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="de.fivespecsdev.schoolapp.Geschichte"
            android:label="@string/title_activity_geschichte"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="de.fivespecsdev.schoolapp.Latein"
            android:label="@string/title_activity_latein"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="de.fivespecsdev.schoolapp.Franzoesisch"
            android:label="@string/title_activity_franzoesisch"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="de.fivespecsdev.schoolapp.Religion"
            android:label="@string/title_activity_religion"
            android:screenOrientation="landscape">
        </activity>
    </application>

</manifest>
